In [20]:
import pandas as pd
xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')

shape = df.shape

columns = df.columns

dtypes = df.dtypes

first10 = df.head(10)
first5 = df.head()

df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

count = df_directors["id"].value_counts()

df_directors_clean = df_directors.drop_duplicates("id")

df_directors_clean

      id          director_name
0      1         Akira Kurosawa
1      2     Alejandro Amenabar
2      3  Alejandro G. Inarritu
4      4       Alfred Hitchcock
5      5         Andrew Stanton
..   ...                    ...
172  113         Victor Fleming
174  114      Vincent Paronnaud
175  115           Wes Anderson
176  116      Wolfgang Petersen
177  117            Woody Allen

[117 rows x 2 columns]